[data-theme="dark"] {
  --platform-color-theme: #000;
  --platform-color-black: #fff;
  --platform-color-white: #000;
  --platform-color-black-translucent: rgba(255, 255, 255, 0.5);
  --platform-color-background: #000;
}
